{{> navbar}}
<link rel="stylesheet" href="../css/detalleventa.css">
<div class="col-md-12 d-flex justify-content-center align-items-center">
    <div class="contenedorForm">
        <form class="col-md-4 col-lg-4 col-xl-4">
            <h2 class="form_title">Detalles de venta</h2>
            <br><br>
              

                <table class="table table-striped-columns">
                    <thead>
                      <h2>Productos</h2>
                      <br>
                        <tr>
                          
                            <th scope="col">Producto</th>
                            <th scope="col">Cantidad</th>
                            <th scope="col">Precio unidad</th>
                            <th scope="col">Precio total</th>
                      
                        </tr>
                    </thead>
                    <tbody>
                        {{#each lista_productosVenta}}
                        <tr>
                   
                            <td>{{producto}}</td>
                            <td>{{cantidad}}</td>
                            <td>{{precioU}}</td>
                            <td>{{precioT}}</td>
                            
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
              
              <br><br>
                <table class="table table-striped-columns">
                    <thead>
                      <h2>Servicios</h2>
                      <br>
                        <tr>
                           
                            <th scope="col">servicio</th>
                            <th scope="col">Cantidad</th>
                            <th scope="col">Precio unidad</th>
                            <th scope="col">Precio total</th>
                          
                        </tr>
                    </thead>
                    <tbody>
                        {{#each lista_serviciosVenta}}
                        <tr>
      
                            <td>{{servicio}}</td>
                            <td>{{cantidad}}</td>
                            <td>{{precioU}}</td>
                            <td>{{precioT}}</td>
                            
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
               
            </div>
        </form>
        <br>
    </div>
 
</div>

<script src="../js/agregarVentas.js"></script>
{{> footer}}
